* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    background-color: rgb(229, 178, 153);
    margin-bottom: 100px;

}

@media (width <=1250px) {
    width: 500px;
}

header {
    background: rgb(206, 138, 83);
    text-align: center;
    margin-top: 0px;
}

main h2 {
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}

main p {
    background: rgb(229, 178, 153);
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
}

#foto {
    display:block;
    position: relative;
    margin: 0px auto;
    margin-bottom: 100px;
}

#foto img {
    display: block;
    width: 250px;
    border: 2px solid rgb(206, 138, 83);
    margin: 0px auto;
    margin-bottom: 50px;
}

nav {
    background: rgb(206, 138, 83);

}

nav ul {
    width:100%;
    max-width: 2000px;
    margin: 0px auto;
}

nav ul li {
    width: 100%;
    max-width: 350px;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

nav ul li a:hover {
    border-bottom: 2px solid brown;
}


nav ul li a {
    color: black;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


