* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 100 %;
    margin: 0px auto;
    background-color: rgb(229, 178, 153);
    margin-bottom: 100px;


}

#delsi_text {
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}
@media (width <=1250px) {
    width: 500px;
}

header {
    background: rgb(206, 138, 83);
    text-align: center;
    margin-top: 0px;
}

main h2 {
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}

main h3 {
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

main h5 {
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0px;
}


main p {
    background: rgb(229, 178, 153);
    margin-bottom: 90px;
    margin-top: 0px;
    margin-left: 80px;
    margin-right:80px;
    text-align: center;
}


#blog {
    display: block;
    text-align: center;
    width: 250px;
    border: 2px solid rgb(206, 138, 83);
    margin: 0px auto;
    margin-bottom: 50px;
}

#foto {
    display: block;
    margin: 0px auto;
    postition: relative;
    margin-bottom: 100px;
}

#foto img {
    display: block;
    width: 250px;
    border: 2px solid rgb(206, 138, 83);
    margin: 0px auto;
    margin-bottom: 50px;
}


#foto2 img {
    display: block;
    width:100%;
    max-width: 400px;
    border: 2px solid rgb(206, 138, 83);
    margin: 0px auto;
    margin-bottom: 50px;
}

#foto3 img {
    display: block;
    width:100%;
    max-width: 800px;
    border: 2px solid rgb(206, 138, 83);
    margin: 0px auto;
    margin-bottom: 50px;
}


nav {
    background: rgb(206, 138, 83);

}

nav ul {

    margin: 0px auto;
}

nav ul li {
    width: 100%;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

nav ul li a:hover {
    border-bottom: 2px solid brown;

}


nav ul li a {
    color: black;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}